.containerPrincipalOn{
    min-height: 50vh;
    min-width: 25vw;
    background-color: rgb(255, 255, 255);
    border-radius: 3vh;
    position: fixed; /* Position fixed para centrar el popup */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: #ff8800;
    z-index: 3;
}
.containerTitle{
    text-align: center;
    padding: 5px;
}
.containerData{
    margin-top: 20px;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}
.containerLogo{
    display: flex;
    gap: 1vw;
}
.containerLogo img{
    max-width: 5vw;
    max-height: 8vh;
}
.containerButton{
    padding: 10px;
    text-align: center;
}
.containerButton button{
    width: 8vw;
}

.containerButton button {
    padding: 10px 30px;
    font-size: 1.2rem;
    background-color: black;
    color: white; /* Asegúrate de que el texto sea visible */
    border: 1px solid black; /* Asegúrate de definir un borde válido */
    border-radius: 5px; /* Estética adicional */
    transition: background-color 0.3s ease, color 0.3s ease; /* Añade una transición suave */
}

.containerButton button:hover {
    background-color: #ff7b00; /* Color más oscuro al hacer hover */
    color: black; /* Cambia el color del texto para contraste */
    border: 1px solid #ff7b00; /* Cambia el borde también */
}