.sucursalsMainContainer{
    background-color: #000;
}
.sucursalsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0; /* Sin espacio entre el header y el main */
    padding: 0; /* Elimina el padding externo */
    width: 100%;
    background-color: #000; /* Fondo negro unificado */
    color: #f5f5f5; /* Texto claro */
}

.sucursalsCardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas pequeñas */
    gap: 20px;
    padding: 20px;
    max-height: 80vh;
    overflow-y: auto;
    background-color: #111; /* Fondo más oscuro para las tarjetas */
    border-radius: 0 0 10px 10px; /* Bordes suaves solo en la parte inferior */
    box-shadow: none; /* Sin sombra para una transición fluida */
    animation: fadeIn 1s ease-in;
    scrollbar-color: #222 #000; /* Color del thumb y del fondo */
    scrollbar-width: thin; /* Ancho reducido */
}
/* Personalización de la barra de desplazamiento para navegadores modernos */
.sucursalsCardContainer::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
    background-color: #000; /* Color del fondo de la barra */
}

.sucursalsCardContainer::-webkit-scrollbar-thumb {
    background-color: #222; /* Color de la "thumb" */
    border-radius: 4px; /* Bordes redondeados */
    border: 2px solid #000; /* Espacio entre el fondo y el thumb */
}

.sucursalsCardContainer::-webkit-scrollbar-thumb:hover {
    background-color: #444; /* Color del thumb al pasar el mouse */
}
@media (min-width: 1250px) {
    .sucursalsCardContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

.containerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    color: #f5f5f5; /* Texto claro */
    background-color: #111; /* Fondo homogéneo con las tarjetas */
    
    box-shadow: none; /* Sin sombra */
}



/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Botones */
button {
    background-color: #f5f5f5;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #ddd;
    transform: translateY(-3px);
}

