.sucursalsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    width: 100%;
    background-color: #000000; /* Fondo claro para contraste */
}

.sucursalsCardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas pequeñas */
    gap: 25px; /* Espacio entre tarjetas para una separación más clara */
    padding: 15px;
    max-height: 80vh; /* Altura máxima para evitar desbordamiento */
    overflow-y: auto; /* Habilita el scroll vertical */
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgb(0, 0, 0); /* Sombra sutil */
}

@media (min-width: 1250px) {
    .sucursalsCardContainer {
        grid-template-columns: repeat(3, 1fr); /* Tres columnas en pantallas grandes */
    }
}

.containerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #636363; 
    border-radius: 0 0 8px 8px;
    color: #000000;/* Color de texto oscuro para contraste */
    background-color: #797a7c
}

.backgroundDisabled {
    background-color: rgba(0, 0, 0, 0.6); /* Fondo más oscuro para el overlay */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2 !important;
    backdrop-filter: blur(3px); /* Agrega desenfoque para mejor efecto */
}

