.ModalEditAlergen {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    min-width: 600px !important;
    min-height: 50vh !important;
    padding: 20px !important;
    background-color: white !important;
    border: 2px solid black !important;
    border-radius: 18px !important;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5) !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    z-index: 3 !important;
    text-align: center !important;
    color: #000 !important;
}

.ModalEditAlergenTitle {
    font-size: 24px !important;
    font-weight: bold !important;
    color: #ff6f00 !important;
    margin-bottom: 20px !important;
}

.containerBody {
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 20px !important;
    align-items: center !important;
    padding: 20px !important;
}

.ModalEditAlergenInput {
    width: 80% !important;
    max-width: 400px !important;
    height: 50px !important;
    padding: 10px !important;
    font-size: 16px !important;
    border-radius: 6px !important;
    border: 1px solid #ccc !important;
    background-color: #000 !important;
    color: #fff !important;
}

.ModalEditAlergenInput::placeholder {
    color: black !important; /* El texto del placeholder será negro */
    opacity: 1 !important;
}

.uploadImage {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 80% !important;
    max-width: 400px !important;
    padding: 20px !important;
    border-radius: 6px !important;
    color: #ff6f00 !important;
    font-size: 14px !important;
    margin: 0 auto !important; /* Esto centra el contenedor de la imagen */
}



.ModalEditAlergenButtons {
    width: 100% !important;
    display: flex !important;
    justify-content: space-around !important;
    margin-top: 20px !important;
}

.ModalEditAlergenButtons button {
    width: 120px !important;
    height: 40px !important;
    background-color: #000000 !important;
    color: #fff !important;
    border-radius: 6px !important;
    font-size: 16px !important;
    cursor: pointer !important;
    border: none !important;
    transition: background-color 0.3s ease !important;
}

.ModalEditAlergenButtons button:hover {
    background-color: #ff6f00 !important;
    color: #000 !important;
}
