.mainContent {
    display: flex;
    height: 90vh; /* Asegura que ocupe toda la altura de la ventana */
    overflow: hidden; /* Evita que los elementos se salgan de la pantalla */
}

.MainDiv {
    text-align: center;
    width: 100%;
    height: 90%;
    justify-content: center;
    
    max-height: 100vh; /* Restringe el contenedor al alto de la pantalla */
    min-height: 90vh;
}

.BodyDeploy {
    width: 100%;
    height: 100%;
    max-height: 100vh; /* Limita el alto al 90% de la pantalla */
}

.titleContainer {
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 5px hsl(0, 3%, 81%);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    margin: 0 auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.containerList {
    box-shadow: 2px 2px 5px #c6bcbc;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto; /* Habilita el scroll */
    max-height: 80vh; /* Limita el tamaÃ±o al 75% del viewport */
    justify-content: flex-start; /* Alinea los elementos al principio */
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0;
}

.containerItem {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 5px #000000;
    padding: 10px 10px 10px 20px;
    border-radius: 12px;
    background-color: #b4adad;
    font-size: 1.2rem;
}

.AlergenList {
    padding: 10px;
}

.containerButtons {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.AddAlergen {
    background-color: #000000;
    color: #ffffff;
    border-radius: 6px;
    border-color: #ff0000;
    font-size: 16px;
    height: 38px;
}

.ModalAddAlergenTitle {
    margin-top: 30px;
    font-size: 30px;
}

.ModalAddAlergen {
    max-height: 100vh; /* Asegura que el modal no exceda el viewport */
    min-height: 50vh;
    max-width: 90vw;
    min-width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border: solid rgb(255, 255, 255) 2px;
    background-color: rgb(255, 255, 255);
    color: #ff8800;
    border-radius: 18px;
    padding: 20px;
    overflow-y: auto; /* Habilita scroll si el contenido es muy grande */
}

.hidden {
    display: none;
}

.ModalAddAlergenInputDen {
    margin-inline: 20px;
    height: 70px;
    width: 400px;
    margin: 0 auto;
}

.ModalAddAlergenButtons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%; 
}

.ModalAddAlergenButtons button {
    background-color: #ff6600 !important;
    color: #fff;
    border-radius: 6px;
    font-size: 16px;
    height: 38px;
}
