.containerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 500px;
    max-width: 90%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.Styleform {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
}

.Styleform h2 {
    grid-column: span 2;
    color: #FF4500; /* Color de "Agregar Sucursal" */
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.Styleform input[type="text"],
.Styleform input[type="number"],
.Styleform input[type="time"],
.Styleform select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
}

.Styleform input[type="text"]:focus,
.Styleform input[type="number"]:focus,
.Styleform input[type="time"]:focus,
.Styleform select:focus {
    border-color: #FF4500; /* Resalta el borde en foco */
    outline: none;
}

.Styleform button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.Styleform button[type="submit"] {
    background-color: #4CAF50; /* Color de "Confirmar" */
    grid-column: span 1;
}

.Styleform button[type="button"] {
    background-color: #FF4500; /* Color de "Eliminar" */
    grid-column: span 1;
}

.Styleform button[type="submit"]:hover {
    background-color: #45a049;
}

.Styleform button[type="button"]:hover {
    background-color: #ff5733;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.checkbox-label {
    grid-column: span 2;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.image-upload {
    display: flex;
    align-items: center;
    grid-column: span 2;
    justify-content: center;
}

.image-upload select {
    width: 100%;
    padding: 8px;
    margin-right: 10px;
    font-size: 14px;
}

.image-preview {
    width: 24px;
    height: 24px;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 4px;
}
