
.principal {
    width: 100%;
    padding: 0;


}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.titleContainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.Titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.buttonLogOut {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    background-color: black;
    padding: 0.4rem;
    border-radius: 0.4rem;
}
.blurredBackground {
    filter: blur(2px);
  }