.containerPrincipal{
    min-height: 50vh;
    min-width: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 3vh;
    position: fixed; /* Position fixed para centrar el popup */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: #ff6600;
    z-index: 3;
}
.containerTitle{
    text-align: center;
    padding: 5px;
}
.containerData{
    margin-top: 20px;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

.containerForm{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containerButton{
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    ;
}
.containerButton button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  width: 100px;
  background-color: black;
  border: black;
}

.containerButton button:hover{
  background-color: #ff6600;
}

.alergenosDropdown {
    position: relative;
    
  }
  
  .alergenosList {
    position: absolute;
    background: #000000;
    color: white;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
    z-index: 10;
  }
  
  .alergenoOption {
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: #000000;
  }
  
  .alergenoOption input {
    margin-right: 10px;
    height: 30px;
    background-color: #000000;
  }

  .blockOne{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.alergenoOption select{
  background-color:#000000 ;
}

.blockTwo{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: flex-start;
}
.alergenosDropdown button{
  background-color: #000000;
  color: white;
}

#habilitado{
    margin-left: -100px;
}

.containerForm textarea{
  max-height: 150px;
  min-height: 30px;
}

.containerData input,
.containerData select{
  background-color: #000000;
  color: white;
}

.uploadImage {
  background-color: #000000;
  color: #ff6600;
}

.uploadImage select{
  color: aqua;
}