.ContainerCardPrincipal {
    background-color: whitesmoke;
    color: black;
    border-radius: 2vh;
    max-width: 250px; /* Define un ancho máximo para evitar el estiramiento */
    width: 100%; /* Ocupa todo el ancho disponible dentro del max-width */
    height: auto;
    padding: 0.4rem;
    margin: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ContainerImage{
    width: 50%;
    height: auto;
}

.ContainerImage img {
    width: 100%;
    max-width: 100%; /* Evita que la imagen se haga más grande que su contenedor */
    max-height: 90px; /* Ajusta este valor según lo necesites */
    border-radius: 2vh;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    object-fit: cover; /* Asegura que la imagen mantenga su proporción sin salir del contenedor */
}
.ContainersIcons{
    font-size: 1.3rem;
    display: flex;
    gap: 2vh;
    margin: .4rem;
    padding: .6rem;
}
.ContainersIcons span:hover{
    cursor: pointer;
}