.ContainerCardPrincipal {
    background-color: whitesmoke;
    color: black;
    border-radius: 2vh;
    max-width: 250px; /* Define un ancho máximo para evitar el estiramiento */
    width: 100%; /* Ocupa todo el ancho disponible dentro del max-width */
    height: auto;
    padding: 0.4rem;
    margin: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ContainerImage{
    width: 50%;

}

.ContainerImage img{
    width: 100%;
    border-radius: 2vh;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.ContainersIcons{
    font-size: 1.3rem;
    display: flex;
    gap: 2vh;
    margin: .4rem;
    padding: .6rem;
}
.ContainersIcons span:hover{
    cursor: pointer;
}