.ModalAddAlergen {
    min-height: 50vh;
    min-width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    box-shadow: 5px 5px 25px;
    background-color: white;
    border-radius: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 3; 
}

.ModalAddAlergenTitle{
    padding: 10px;
    text-align: center;
    color: #ff6f00;
}
.containerBody{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    text-align: center;
}
.containerBody input{
    text-align: left;
    height: 8vh;
    border-radius: 5px;
    color: white;
}

.containerButtons{
    padding: 20px;
    display: flex;
    gap: 13vw;
}

.ModalAddAlergenInput {
    margin-inline: 20px;
    height: 70px;
    width: 400px;
    margin: 0 auto;
    background-color: black;
}

.ModalAddAlergenButtons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%; 
}
.ModalAddAlergenButtons :hover{
    background-color: #ff6f00;
}

.ModalAddAlergenButtons button{
    background-color: #000000;
    color: #fff;
    border-radius: 6px;
    font-size: 16px;
    height: 38px;
}
.uploadImage{
    margin: 0 auto;
    background-color: #000000;
    color: #ff6f00;
}